<footer class="mdl-mini-footer"  style="flex: 0 0 auto;">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">&copy;Le Club Info</div>
        <ul class="mdl-mini-footer__link-list">
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy & Terms</a></li>
        </ul>
    </div>
</footer>