


    <header class="mdl-layout__header">

        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title"><a href="/index.html">Mon site</a></span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/login.html">Se connecter</a>
                <a class="mdl-navigation__link" href="/register.html">Register</a>
            </nav>
        </div>
    </header>